<head>
    <title>Grocery Listify</title>
    <link href='bower_components/skeleton/css/normalize.css' rel="stylesheet">
    <link href='bower_components/skeleton/css/skeleton.css' rel="stylesheet">
    <link href='/styles.css' rel="stylesheet">
</head>
   <body>
   <div class='container'>
       
   
    <div id="app"></div>
    </div>
    <script src='app.js'></script>
    </body>