<!doctype html>
<html>
  <head>
    <title>Grocery Listify</title>
<!--    <link href='/styles.css' rel="stylesheet">-->
 	<script src='bower_components/es6-shim/es6-shim.js'></script>
  </head>
  <body>
    <h1 id="main-title">From Isomorph</h1>
    <div id="mount">
      <%- reactOutput %>
    </div>

    <script src="/app.js"></script>


  </body>
</html>
